.header{
    color:#0088f8;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.671);
    margin:0px;
}

body{
    margin:0px;
}
.info{
    color:black;
    font-size: 34px;
    padding: 30px;
}
